/* .ladiv{
    width: 1800px;
    display: flex;
    justify-content: space-around;
}
.cardplayer{
    display: flex;
}
nav{
    background-color: color(display-p3 0.107 0.129 0.118);
    color: white;
    height: 70px;
}
nav ul{
    display: flex;
    color: black;
    list-style: none;
    list-style-type: none;
    text-decoration: none;
    justify-content: space-around;
    padding-top: 20px;
}
nav ul li{
    list-style: none;
    list-style-type: none;
    text-decoration: none;
    color: white;
} */
@import '~bootstrap/dist/css/bootstrap.min.css';
.ladiv {
    width: 1800px;
    display: flex;
    justify-content: space-around;
}

.cardplayer {
    display: flex;
    margin-top: 30px;
}

nav {
    background-color: #1b211e; /* Assurez-vous que cette valeur de couleur est correcte */
    height: 70px;
}

nav ul {
    display: flex;
    list-style: none;
    text-decoration: none;
    justify-content: space-around;
    padding-top: 20px;
}

nav ul li {
    list-style: none;
    text-decoration: none;
    color: white;
    font-size: 20px;
}
